* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    list-style: none
  }

  .about-me,
  .skills,
  .projects,
  .contact {
    height: 800px;
  }

  .frontpage {
    height: 600px;
    align-items:center;
    flex: 1;
  }

  .skills,
  .contact {
    background-color: #f0f0f0;
  }

  .title-container {
    padding-left: 10rem;
    /* padding-top: 10rem; */
  }