* {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .intro,
  .skills,
  .projects,
  .contact {
    height: 300px;
  }

  .skills,
  .contact {
    background-color: #f0f0f0;
  }