/* Global Styles */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Frontpage Styles */
.frontpage {
  height: 600px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #CE7DFF;
}

.title-container {
  text-align: center;
  padding: 4rem 2rem;
}

.title-container h1 {
  font-size: 3em;
  font-weight: bold;
}

.title-container h6 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.title-container hr {
  border: 2px solid #CE7DFF;
  width: 50%;
  margin: 1rem auto;
}

.btn-pink {
  background-color: #CE7DFF;
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.btn-pink:hover {
  background-color: #B39DDB;
}

/* About Me Styles */
.about-me {
  background-color: #EDE7F6;
}

.about-me img {
  border-radius: 8px;
}

.bg-purple {
  background-color: #CE7DFF;
}

.text-white {
  color: #000000;
}

/* Skills, Projects, and Contact Styles */
.skills, .projects, .contact {
  background-color: #F3E5F5;
  padding: 4rem 0;
}

.skills .card-header, .projects .btn-pink {
  background-color: #CE7DFF;
  color: #000000;
}

.skills .card-header {
  font-size: 1.25rem;
}

.card {
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
}

/* Contact Styles */
.contact {
  background-color: #EDE7F6;
}

.contact .btn-pink {
  background-color: #D1C4E9;
  color: #6D6E76;
}

.contact .btn-pink:hover {
  background-color: #B39DDB;
}

/* Footer Styles */
footer {
  background-color: #D1C4E9;
  padding: 1rem 0;
  border-top: 1px solid #D1C4E9;
  color: #6D6E76;
}

/* Modal Button Styles */
.btn-primary {
  background-color: #CE7DFF; /* Pastel purple */
  border: none;
}

.btn-primary:hover {
  background-color: #6A1B9A; /* Darker purple on hover */
  color: #FFFFFF; /* White text on hover */
}

/* Carousel Styles */
.projects .carousel-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensure the image is responsive */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black; /* White icon color */
}

/* Modal Z-Index */
#exampleModal {
  z-index: 9999;
}
